<form class="login-form" method="post" action="/users/login" enctype="application/x-www-form-urlencoded">
    <p>Username:</p>
    <input type="text" name="username" placeholder="username" required><br>
    <p>Password:</p>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit" required>
</form>
<p>Don't have an account? Register <a href="/register">here</a></p>

